<!-- 로그인 -->
<div *ngIf="!isAccept" class="app-body" style="background: #2b2c2e">
  <div class="col-4"style="margin-left: 100px; margin-top: 50px">
    <img src="../../assets/img/neckst-logo.png"/>
  </div>
  <div class="app flex-row align-items-center">
    <div class="container" style="width: 1000px;">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4"  style="background: #2b2c2e; border-color: #2b2c2e">
              <div class="card-block" style="margin-left: 200px; margin-top: 200px">
                <h1 style="font-weight: bold; color: #e3e3e3; font-size: 56px; margin-bottom: 20px;">LOGIN</h1>

                <div class="input-group mb-3" style="background: #2b2c2e; border-color: #2b2c2e">
                  <span class="input-group-addon" style="color: #e3e3e3; font-size: 15px; background: #2b2c2e; border-color: #2b2c2e">ID : </span>
                  <input #id type="text" class="form-control" placeholder="ID" style="margin-left: 8px">
                </div>

                <div class="input-group mb-4" style="background: #2b2c2e; border-color: #2b2c2e">
                  <span class="input-group-addon" style="background: #2b2c2e; border-color: #2b2c2e; color: #e3e3e3; font-size: 15px;">PW : </span>
                  <input #password type="password" class="form-control" placeholder="Manager Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" (click)="login(id.value, password.value)" class="btn" style="
                    margin-left: 20px; width: 330px; background: #2b2c2e; border-color: #ff8e6b; color: #ff8e6b">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="app-header navbar" *ngIf="isAccept">
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li>
      <div class="nav-title" style="font-size: 15px; font-weight: bold" href="#">Neckst</div>
    </li>
  </ul>
</header>

<div *ngIf="isAccept" class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          나의 NeckST 정보 설정
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/manager-setting']"><i class="icon-settings"></i> 관리자 설정</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main" *ngIf="isAccept">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer" *ngIf="isAccept">
  <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>

