<!-- 로그인 -->
<div *ngIf="!isAccept" class="app-body" style="background: #2b2c2e">
  <div class="col-4"style="margin-left: 100px; margin-top: 50px">
    <img src="../../assets/img/neckst-logo.png"/>
  </div>
  <div class="app flex-row align-items-center">
    <div class="container" style="width: 1000px;">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4"  style="background: #2b2c2e; border-color: #2b2c2e">
              <div class="card-block" style="margin-left: 200px; margin-top: 200px">
                <h1 style="font-weight: bold; color: #e3e3e3; font-size: 56px; margin-left: 16px; margin-bottom: 20px;">LOGIN</h1>

                <div class="input-group mb-3" style="background: #2b2c2e; border-color: #2b2c2e">
                  <span class="input-group-addon" style="color: #e3e3e3; font-size: 15px; background: #2b2c2e; border-color: #2b2c2e">ID : </span>
                  <input #id type="text" class="form-control" placeholder="Manager ID" style="margin-left: 8px">
                </div>

                <div class="input-group mb-4" style="background: #2b2c2e; border-color: #2b2c2e">
                  <span class="input-group-addon" style="background: #2b2c2e; border-color: #2b2c2e; color: #e3e3e3; font-size: 15px;">PW : </span>
                  <input #password type="password" class="form-control" placeholder="Manager Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" (click)="login(id.value, password.value)" class="btn" style="
                    margin-left: 20px; width: 330px; background: #2b2c2e; border-color: #ff8e6b; color: #ff8e6b">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<header class="app-header navbar" *ngIf="isAccept" style="background: #2b2c2e; box-shadow: 5px 5px 5px #000; border-color: #2b2c2e;">
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" style="color: #e3e3e3;" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li>
      <div class="nav-title" href="#"><img style="width: 80px; height: 20px;"src="../../assets/img/neckst-logo.png"/></div>
    </li>
  </ul>
</header>

<div *ngIf="isAccept" class="app-body" style="background: #2b2c2e; box-shadow: 5px 5px 5px #000; border-color: #2b2c2e;">
  <div class="sidebar" style="background: #1d1d1b; color: #868686">
    <nav class="sidebar-nav" style="color: #868686">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          나의 NeckST 정보 설정
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/manager-setting']"><i class="icon-settings"></i> 관리자 설정</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLinkActive="active" [routerLink]="['/event-manage']"><i class="icon-social-reddit"></i> 이벤트 설정</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main" *ngIf="isAccept" style="background: #2b2c2e; border-color: #2b2c2e;">


    <div class="container-fluid" style="margin-top: 20px; background: #2b2c2e; border-color: #2b2c2e;">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer" *ngIf="isAccept" style="color: #e3e3e3; background: #2b2c2e; border-color: #1d1d1b">
  NECKST &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://sigoss.github.io/">Neckst in OpenHack</a>
    </span>
</footer>

