
<div class="row">
  <div class="col" *ngFor="let booth of booths">
    <div class="card">
      <div class="card-header">
        {{booth.mName}}
        <span class="badge badge-warning">{{booth.mDate}}</span>
      </div>
      <div class="card-block">
          <span class="badge badge-danger">{{booth.mBeacon}}</span>
          <br/>
        {{booth.mDescription}}
        <br/>
        <span class="badge badge-info">{{booth.mHashtag}}</span>
      </div>
      <div class="card-footer">
          <button style="border: none; background: none;" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
          <button style="border: none; background: none;"><i class="fa fa-trash"></i> 삭제</button>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
<accordion style="margin-top: 20px">
  <accordion-group heading="관리 영역 추가">
      <div class="form-group row">
          <div class="col" style="margin-left: 200px;">
              <label class="form-control-label" for="text-input">기간 설정</label>
            <input style="width: 200px;"placeholder="기간을 설정해주세요." type="text" class="form-control" bsDaterangepicker #dpr="bsDaterangepicker" [bsConfig]="bsConfig" [(bsValue)]="bsRangeValue">
          </div>
      </div>
    <div class="card-block">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group row" style="margin-left: 170px;">
          <label class="col-md-1 form-control-label" for="text-input">이름 설정</label>
          <div class="col-md-11">
            <input #mName type="text" id="text-input" name="text-input" class="form-control" placeholder="관리 영역 이름">
            <span class="help-block">관리 영역의 이름을 설정하세요 (ex. A 부스, 전시 1동 등)</span>
          </div>
        </div>
        <div class="form-group row" style="margin-left: 170px;">
          <label class="col-md-1 form-control-label" for="textarea-input">설명</label>
          <div class="col-md-11">
            <textarea #mDescription id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
          </div>
        </div>
        <div class="form-group row" style="margin-left: 170px;">
          <label class="col-md-1 form-control-label" for="text-input">해시태그</label>
          <div class="col-md-11">
            <input #mHashtag type="text" id="text-input" name="text-input" class="form-control" placeholder="해당 영역과 관련되는 태그를 설정해주세요.">
            <span class="help-block">해시태그를 설정해주세요. (ex. #오픈핵#소프트웨어#오픈소스)</span>
          </div>
        </div>
        <div class="form-group row" style="margin-bottom: 20px; margin-left: 170px">
          <label style="margin-top: 15px"class="col-md-1 form-control-label" for="select">비콘 설정</label>
          <div class="col-md-11" style="color: #e3e3e3;">
            <md-select placeholder="Beacon Select" [(ngModel)]="selectedValue" name="beacon" style="color: #e3e3e3;">
              <md-option *ngFor="let beacon of beacons" [value]="beacon.id">
                {{beacon.id}}
              </md-option>
            </md-select>
          </div>
        </div>
        <div class="form-group row" style="margin-left: 170px;">
          <label class="col-md-1 form-control-label" for="file-input">사진 설정</label>
          <div class="col-md-11">
            <input #mImage type="file" id="file-input" name="file-input">
          </div>
        </div>

        
      </form>
      
    </div>
    
    <div class="card-footer" style="background: #2b2c2e; 
    border: none; 
    color: #e3e3e3;">
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5">
      <button (click)="addBooth(mName.value, mDescription.value, mHashtag.value, mImage.value); mName.value=''; mDescription.value=''; mHashtag.value=''; mImage.value='';" type="submit" style="background: #2b2c2e; 
      margin-right: 20px; color: #e3e3e3; widht: 100px; margin-left: 170px"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" style="background: #2b2c2e; 
      color: #e3e3e3; widht: 50px;"><i class="fa fa-ban"></i> Reset</button>
    </div>
    </div>
    </div>    
  </accordion-group>
</accordion>

</div>