// Here you can add other styles
div.panel-heading.card-header{
    background: #2b2c2e; 
    border-color: #ff8e6b; 
    color: #ff8e6b;
}

div.panel.card.panel-default{
    background: #2b2c2e; 
    border-color: #ff8e6b; 
    color: #e3e3e3;
}

div.mat-select-trigger{
    color: #e3e3e3;
}